@import "tailwindcss";

@layer base {
  body {
    background-color: #0A0B0D;
    color: #E0E0E0;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom sleek Bento scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0A0B0D;
}

::-webkit-scrollbar-thumb {
  background: #2D3139;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3E4451;
}
